name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - uses: actions/checkout@v3

      # Install Java
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: sbt

      # Install sbt via Coursier
      - name: Install sbt
        run: |
          curl -fLo cs https://git.io/coursier-cli && chmod +x cs && ./cs setup

      # Verify sbt version
      - name: Verify sbt
        run: sbt sbtVersion

      # Run tests
      - name: Run tests
        run: sbt clean test

