name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      # Install sbt via Coursier
      - name: Install sbt via Coursier
        run: |
          curl -fLo cs https://git.io/coursier-cli-linux
          chmod +x cs
          ./cs setup
          # Add sbt to PATH for the rest of this job
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Verify sbt
        run: sbt sbtVersion

      - name: Run sbt tests with coverage
        run: sbt clean coverage test coverageReport
